#chart-container{ 
    display: flex;
    width: 100%;
    height:200px;
}

#gauge-chart1{
    width: 100%;
    height:200px;
}

#imc-campos-container{
    width: 60%;
    margin-left:20%;
}

.input-imc{
    margin-bottom: 10px;
}

#imc-botao{
    width: 100%;
}

#texto-imc{
    margin:30px;
    text-align: center;
    font-size: 16pt;
}

#imc-container{
    display: flex;
    margin-top:20px;
    height:80%;
    flex-flow: column;
    justify-content: space-around;
}