


#logo {
    text-align: center;
}

#conteudo {
    display:flex;
    flex-flow: column;
    width: 86%;
    height: 70%;
    margin-top: 15%;
    margin-left: 7%;
    justify-content: space-between;
}

#campos-login {
    display: flex;
    flex-flow: column;
}

#input-usuario {
    margin-bottom: 10px;
}

#input-senha {
    margin-bottom: 20px;
}

#cadastre-se {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
}


