

#logo-login {
    
    margin: auto auto;
}

#conteudo-login {
    display:flex;
    flex-flow: column;
    width: 86%;
    height: 90%;
    margin-top: 5%;
    margin-left: 7%;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
}

#descricao-login {
    font-size: 14pt;
    margin: 20px auto;
}

#campos-login {
    display: flex;
    flex-flow: column;
    margin:auto;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
}

#input-usuario-login {
    margin-bottom: 10px;
}

#input-senha-login {
    margin-bottom: 20px;
}

#cadastre-se-login {
    display: flex;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#botao-cadastro-login {
   width:100%;
}


